<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>MeelIndia</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
	<script src= "https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"> 
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

    <style>
        body{
            background:#E5E5E5;
            overflow-x: hidden;
        }
        input{
            font-family: 'play', cursive;
        }
        .invite{
            min-height: 550px;
            width: 350px;
            margin:auto;
            padding-bottom: 20px;
            background: cover;
            font-family: 'Caveat', cursive;
        }   
        .Caveat{
            font-family: 'Caveat', cursive;
        }
        #bgInvite{
            width: 350px;
            padding: 0;
            margin-top: 0;
        }
        .dataInvite{
            width: 100%;
        }
        .inputInvite{
            width: 350px;
        }
        .shadowme{
            box-shadow: 2px 2px 10px ;
        }
        
.socialbtn
{
    border: none;
    background: transparent;
    font-size: 2em;
    margin: 15px;
    cursor: pointer;
    transition: 0.2s;
    
}

.socialbtn:hover{
    color: #37A079;
}
    
.socialrow
{
    text-align: center;
}

    </style>
</head>
<body>
    
<div class="container">
    <div class="col-md-6 offset-md-3 pb-5">
        <div class="row">
            @each(dt in greetings)
            <div class="col-md-12 mt-5">
                <div class="col-md-8 offset-md-2 mb-2 text-center">
                    <div class="d-flex justify-content-center">
                        <input type="text" id="title" name="title" class="form-control ytedit d-inline inputInvite text-center " value="https://meelindia.com/greeting?id={{dt._id}}" placeholder="">  
                    </div> 
                    
                    <div class="d-flex justify-content-center">
                        <a class="socialbtn d-flex row" href="whatsapp://send?text=https://meelindia.com/greeting?id={{dt._id}}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> 
                        <a class="socialbtn d-flex row" href="https://www.facebook.com/sharer/sharer.php?u=https://meelindia.com/greeting?id={{dt._id}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                        <a class="socialbtn d-flex row" href="https://www.instagram.com/sharer.php?u=https://meelindia.com/greeting?id={{dt._id}}"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                        <a class="socialbtn d-flex row" onclick='myFunction2("{{ dt._id }}");'> <i class="fa fa-copy" aria-hidden="true"></i></a>
                </div>
                </div> 
            
                <div class="invite bg-light shadowme" id="inviteBody">
                    <img src="{{dt.bg}}" id="bgInvite" alt="">
                    <div class="dataInvite">
                        <h5 class="text-center" id="head">Celebrating</h5>
                        <h4 class="col-12 Caveat inputInvite text-center">{{ dt.title }}</h4>
                        <h5 class="col-12  Caveat inputInvite text-center">{{ dt.subtitle }}</h5>
                        <p class="col-12 Caveat inputInvite text-center">{{ dt.content}} </p>
                    </div>
                </div> 
                    
              
            </div>
            @endeach
            <input type="button" value="Create Your Own Invitation / Greeting" class="btn btn-danger mt-4 mb-5 btn-block" onclick="window.location='SignUpUser'">
        </div>
    </div>
</div>

<script>
        function myFunction2(str) {
            var copyText = 'https://meelindia.com/greeting?id='+str;
            navigator.clipboard.writeText(copyText);
            alert("Link Copied Successfully");
        }
</script>
</body>
</html>