<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MeelIndia</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    
    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Scroll reveal CDN-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="styles.css">

    <style>
      @import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');


      nav {
        font-size: 1.5em;
        font-family: 'Century Gothic', sans-serif;
  
      }
      
      nav a{
        text-decoration-color: none;
        cursor: pointer;
        color: snow;
      }
  
      nav a:hover{
        color: #BEBEBE;
      }
  
      .sidenav {
      height: 100%;
      width: 0;
      font-size: 1.2em;
      position: fixed;
      z-index: 1;
      top: 10%;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
  
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      display: block;
      transition: 0.3s;
    }
  
    .sidenav a:hover {
      color: #f1f1f1;
    }
  
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
        @media (max-width: 768px) {
          nav{
            text-align: right;
          }
                .navbar-brand.abs {
                  position: absolute;
                  width: 100%;
                  left: 0;
                  text-align: center;
                }
              
              .navbar-toggler-icon{
                  color: snow;
                  background: dodgerblue;
                  border-radius: 50%;
              }
  
        }
        
      @media (max-width: 768px) {
        .navbar-brand.abs {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
        }
       
      .navbar-toggler-icon{
          color: snow;
          background: dodgerblue;
          border-radius: 50%;
      }

      }

      

/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html
{
	font-family: var(--body-font);
	font-size: 10px;
	color: var(--body-font-color);
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

section
{
	padding: 3.9rem 0;
	overflow: hidden;
}

img
{
	width: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
}

p
{
	font-size: 1.6rem;
}

.container {
	width: 100%;
	max-width: 122.5rem;
	margin: 0 auto;
	padding: 0 2.4rem;
}

/*Header Styles Here*/
header
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;  
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent)
}


/*Hero*/
.hero {
	width: 100%;
	height: 100vh;
	background: url("images/bgmain.png") center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
}

.sub-headline {
	font-size: 20px;
	font-family: "Century Gothic";
	color: #fff;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-style: italic;
	opacity: 0;
	animation: fadeUp 0.5s forwards;
	animation-delay: 0.5s
}

.sub-headline span {
  font-weight: bold;
}

.first-letter{
	text-transform: uppercase;
	font-size: 10.3rem;

}


.headline {
	color: #fff;
	font-size: 3.7rem;
	font-family: var(--main-font);
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5rem;
	margin-right: -0.5rem;
	opacity: 0;
	animation: scale 0.5s forwards;

}

.seperator {
	display: flex;
	align-items: center;
	justify-content: center;
}

.line {
	width: 100%;
	max-width: 8.4rem;
	height: 0.25rem;
	background-color: #fff;
	position: relative;
	opacity: 0;
	animation: grow 2s forwards;
	animation-delay: 0.9s;
}

.line-right::before,
.line-left::before {
	content: '';
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	border:0.6rem solid transparent;
	opacity: 0;
	animation: grow 0.5s forwards;
	animation-delay: 1.2s;
}

.line-right::before {
	border-right-color: #fff
	right:0;
}

.line-left::before {
	border-left-color: #fff
	left:0;
}

.asterisk {
	font-size: 1.2rem;
	color: var(--secondary-font-color);
	margin: 0 1.6rem;
	opacity: 0;
	animation: spin 0.5s forwards;
	animation-delay: 0.7s;
}

.single-animation {
	opacity: 0;
	animation: fadeDown 0.5s forwards;
	animation-delay: 1.5s
}

.headline-description h5 {
  margin-top: 1.5rem;
  color: #fff;
	font-size: 1.8rem;
  font-weight: 100;
  font-family: "Century Gothic";
  font-style: italic;
  margin-bottom: 1.2rem;
}

.headline-description h5 span {
  font-weight: bold;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: -2px;
}

.cta-btn {
	font-size: 1.1rem;
	background-color: #fff;
	padding: 0.9rem 1.8rem;
	color: var(--body-font-color);
	border-radius: 0.4rem;
	transition: background-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
	color: #fff;
	background-color: var(--secondary-font-color);
}

/*Discover Our Story*/

.global-headline{
	text-align: center;
	margin-top: 3.9rem;

}

.discover-our-story .global-headline {
	margin-top: 6.9rem;

}

.global-headline .asterisk {
	color: var(--body-font-color);
	margin: 2.4rem 0;

}

.culinary-delight {
  background: url("/Images/division3.png") center no-repeat;
  padding-top: 0;
  background-size: auto;
  height: 100vh;
}

.headline-dark {
	color: var(--main-font-color-dark);
	letter-spacing: 0.7rem;
	margin-right: -0.7rem;

}

.global-headline .sub-headline {
	letter-spacing: -1px;
	line-height: 0.42;
}

.restaurant-info {
	text-align: center;
}

.restaurant-info .image-group Button {
cursor: pointer;
transition: background-image 0.5s;
width: 358px;
height: 208px;
}

.restaurant-info .image-group Button .cat1 {
  background: url("/Images/cat1.png") center no-repeat;
  opacity: 0.4;
  width: 350px;
  height: 200px;
  margin: 2px 2px;
  transition: 0.5s;
  background-size: 350px 200px;
}


.restaurant-info .image-group Button .cat1:hover {
  background: url("Images/catafter1.png") center no-repeat;
  background-size: 366px 216px;
  opacity: 1;
}

.restaurant-info .image-group Button .cat2 {
  background: url("/Images/cat2.png") center no-repeat;
  opacity: 0.4;
  width: 350px;
  height: 200px;
  margin: 2px 2px;
  transition: 0.5s;
  background-size: 350px 200px;
}


.restaurant-info .image-group Button .cat2:hover {
  background: url("Images/catafter2.png") center no-repeat;
  background-size: 350px 200px;
  opacity: 1;
}

.restaurant-info .image-group Button .cat3 {
  background: url("/Images/cat3.png") center no-repeat;
  opacity: 0.4;
  width: 350px;
  height: 200px;
  margin: 2px 2px;
  transition: 0.5s;
  background-size: 350px 200px;
}


.restaurant-info .image-group Button .cat3:hover {
  background: url("Images/catafter3.png") center no-repeat;
  background-size: 350px 200px;
  opacity: 1;
}

.restaurant-info .image-group Button .cat4 {
  background: url("/Images/cat4.png") center no-repeat;
  opacity: 0.4;
  width: 350px;
  height: 200px;
  margin: 2px 2px;
  transition: 0.5s;
  background-size: 350px 200px;
}


.restaurant-info .image-group Button .cat4:hover {
  background: url("Images/catafter4.png") center no-repeat;
  background-size: 350px 200px;
  opacity: 1;
}

.restaurant-info .image-group Button .cat5 {
  background: url("/Images/cat5.png") center no-repeat;
  opacity: 0.4;
  width: 350px;
  height: 200px;
  margin: 2px 2px;
  transition: 0.5s;
  background-size: 350px 200px;
}


.restaurant-info .image-group Button .cat5:hover {
  background: url("Images/catafter5.png") center no-repeat;
  background-size: 350px 200px;
  opacity: 1;
}

.restaurant-info .image-group Button .cat6 {
  background: url("/Images/cat6.png") center no-repeat;
  opacity: 0.4;
  width: 350px;
  height: 200px;
  margin: 2px 2px;
  transition: 0.5s;
  background-size: 350px 200px;
}


.restaurant-info .image-group Button .cat6:hover {
  background: url("Images/catafter6.png") center no-repeat;
  background-size: 350px 200px;
  opacity: 1;
}

.restaurant-description {
	margin-bottom: 3rem;
}

.restaurant-description p {
	line-height: 1.6;
	margin-bottom: 2.4rem;

}

.body-btn {
	font-size: 1.5rem;
	color: var(--secondary-font-color);
	position: relative;
	transition: color 0.5s;

}

.body-btn::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -3px;
	background-color: var(--secondary-font-color);
	transition: background-color 0.5s;
}

.body-btn:hover,
.body-btn:focus {
	color: var(--main-font-color-dark)
}

.body-btn:hover::before,
.body-btn:focus::before {
	background-color: var(--main-font-color-dark)
}

/*Tastefull Recipies*/

.tasteful-recipes {
	background: url("images/tasteful-recipes.jpg") center no-repeat;
	background-size: cover;  
}

.between{
	min-height: 65vh;
	display: flex;
	align-items: center;
}

/*Discover our menu*/

.image-group{
	display: grid;
	grid-template-columns: repeat(3,1fr);
  grid-gap: 4rem;
  justify-content: center;
  align-items: center;
}

.discover-our-menu
{
  background: #f1f1f1;
}

.discover-our-menu .restaurant-description {
	padding-top: 3rem;
	margin-bottom: 0;

}

/*The Perfect Blendf*/

.perfect-blend {
	background-image: url("images/perfect-blend.jpg") center no-repeat;
	background-size: cover;
}


/*Footer*/

footer {
	padding: 7.9rem 0;
	background-color: #121212;
	color: #fff;
	text-align: center;
	position: relative;

}

.back-to-top {
	width: 7rem;
	height: 7rem;
	background-color: #121212;
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;


}

.back-to-top i {
	display: block;
	color: #fff;
	font-size: 2rem;
	padding: 2rem;
	animation: up 2s infinite;
}

.footer-content {
	overflow: hidden;
}

.footer-content h4 {
	font-size: 1.9rem;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 3rem;
}

.footer-content .asterisk {
	margin: 2.4rem 0;

}

.footer-content-about {
	margin-bottom: 5.4rem;
}

.footer-content-about p {
	line-height: 2;
}

.social-icons{
	list-style: none;
	margin-bottom: 5.4rem;
	display: flex;
	justify-content: center;
}

.social-icons i {
	font-size: 2rem;
	color: #fff;
	padding: 0.8rem 2rem;
	opacity: 0.5;
	transition: color 0.5s;
}

#signInModal{
	z-index: 5000;
}


.social-icons:hover,
.social-icons:focus,{
	color: var(--secondary-font-color);
}

.newsletter-form{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.newsletter-input {
	width: 100%;
	max-width: 25rem;
	padding: 1rem;
}

.newsletter-btn {
	background-color: white;
  border :none;
  border-radius: 10px;
	color: var(--main-font-color-dark);
	cursor: pointer;
	font-size: 3rem;
	padding: 1px 0.6rem;
	position: relative;
  top: 50%;
  margin-top: 24px;
	transform: translateY(-50%);
	margin-left: 6rem;
}

/*Media Queries*/
@media Screen and (min-width:900px) {
	section{
		padding: 7.9rem;
	}

	.menu-toggle{
		display: none;
	}

	.nav{
		justify-content: space-between;
	}

	.nav-list {
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		padding: 0;
		justify-content: initial;
		flex-direction: row;
		transform: initial;
		transition: initial;
	}

	.nav-item {
    margin: 1.4rem 2.6rem;
		border: none;
	}

	.nav-item:last-child {
		margin-right: 0;
	}

	.nav-link {
		font-size: 1.4rem;
	}

	.active {
		position: relative;
	}

	.active::before {
		content: '';
		position: absolute;
		width: 85%;
		height: 2px;
		background-color: #fff;
		bottom: -4px;
		left:0;
	}

	.sub-headline{
		font-size: 2.5rem;
  }
  
  .headline-description h5 {
    font-size: 2.3rem;
  }

	.first-letter{
		font-size: 12.2rem
	}

	.headline{
		font-size: 4.7rem;
		letter-spacing: 0.8rem;
	}

	.line{
		max-width: 11.4rem
	}

	.restaurant-info{
		align-items: center;
	}

	.restaurant-info > div{
		flex:1;

	}

	.padding-right{
		padding-right: 7rem; 
	}

	.footer-content{
		max-width: 77.5rem;
		margin: auto;
	}

	.footer-content-about{
		max-width: 51.3rem;
		margin: 0 auto 5.4rem;

	}

	.footer-content-divider{
		display: flex;
		justify-content: space-between;

	}

	.social-media,
	.newsletter-form{
		width: 100%;
		max-width: 27.3rem;
		margin: 0 1rem;
	}

	.social-icons i {
		opacity: 1;
	}

	.newsletter-btn {
		margin-left: 13.5rem;
	}
}

/*Animations*/

@keyframes fadeUp {
	0% {
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);	
	}
}

@keyframes scale {
	0% {
		transform: scale(2);
	}
	100% {
		opacity: 1;
		transform: scale(1);	
	}
}

@keyframes grow {
	0% {
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;	
	}
}


@keyframes fadeDown {
	0% {
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);	
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		opacity: 1;
		transform: rotate(-360deg);	
	}
}

@keyframes up {
	0% {
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-1rem);
	
	}
}


#locationbox
{
	width: 200px;
	height: 50px;
	padding: 10px;
	padding-top: 6px;
	border-style: none;
	cursor: pointer;
  outline: none;
  font-family: "Century Gothic";
	background-color: #BEBEBE;
	color: #ffffff;
  transition: 0.5s
	font-family: Century Gothic;
	text-align: center;
	font-size: 1.5rem;
	display: inline-block;
}

#locationbox:hover
{
	transition: 0.5s;
	background-color: #848181;
}

input
{
	position: absolute;
	display: inline-block;
	font-size: 1.5rem;
	box-sizing: border-box;
	transition: 0.5s;

}

input[type="text"]
{
	background: #ffffff;
	width: 350px;
	height: 50px;
	border: none;
	outline: none;
	margin-left: -5px;
	padding: 10px; 
}


input[type="submit"]
{
	position: relative;
	color: #ffffff;
	font-family: Century Gothic;
	font-weight: bold;
  margin-left: 300px;
	background: #37A079;
  padding: 10px;
  padding-top: 6px;
	width: 200px;
	height: 50px;
	border: none;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover
{
	background-color: #2B7E5F;
	transition: 0.5s;
}

@media(max-width:768px)
{
  
#locationbox
{
	width: 100px;
	height: 25px;
	padding: 10px;
	padding-top: 6px;
	border-style: none;
	cursor: pointer;
	outline: none;
	background-color: #BEBEBE;
	color: #ffffff;
  transition: 0.5s
	font-family: Century Gothic;
	text-align: center;
	font-size: 10px;
	display: inline-block;
}

#locationbox:hover
{
	transition: 0.5s;
	background-color: #848181;
}

input
{
	position: absolute;
	display: inline-block;
	font-size: 10px;
	box-sizing: border-box;
	transition: 0.5s;

}

input[type="text"]
{
	background: #ffffff;
	width: 190px;
	height: 25px;
	border: none;
	outline: none;
	margin-left: -5px;
	padding: 10px; 
}


input[type="submit"]
{
	position: relative;
	color: #ffffff;
	font-family: Century Gothic;
	font-weight: bold;
  margin-left: 164px;
	background: #37A079;
  padding: 10px;
  padding-top: 6px;
	width: 75px;
	height: 25.18px;
	border: none;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover
{
	background-color: #2B7E5F;
	transition: 0.5s;
}

.image-group{
	display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 200px;
  margin: 0 auto;
  position: relative;
}

.culinary-delight {
  background: url("/Images/division3.png") center no-repeat;
  padding-top: 0;
  background-size: auto;
  height: 325px;
  width: 100%;
  background-size: 100% 100%;
}


.newsletter-btn {
  
  margin: 0 auto;
  margin-top: 7rem;
	}


}
    </style>
</head>
<body>

  {{--  Code For Testr  --}}


  {{--  Code Ends  --}}

  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	 <div class="modal-content pr-2 pl-2">
	   <div class="modal-header">
		 <h5 class="modal-title" id="exampleModalLongTitle">Who are you ?</h5>
		 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		   <span aria-hidden="true">&times;</span>
		 </button>
	   </div>
	   <div class="modal-body text-center row">
		 <div class="col-md-5 p-1 mt-3 text-center pointer " onclick=" window.location='/signInBusiness' "><img src="./gifs/gif7.gif"  width="80%" alt=""> <h4>I have Business</h4> </div>
		 <div class="col-md-5 p-1 mt-3 text-center pointer offset-md-2" onclick=" window.location='/signInUser' "><img src="./gifs/gif1.gif" width="80%" alt=""> <h4>I am User</h4> </div>
	   </div>
	   <div class="modal-footer">
		 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	   </div>
	 </div>
   </div>
 </div>
 
 <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUnModalTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
	 <div class="modal-content pl-2 pr-2">
	   <div class="modal-header">
		 <h5 class="modal-title" id="exampleModalLongTitle">Who are you ?</h5>
		 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		   <span aria-hidden="true">&times;</span>
		 </button>
	   </div>
	   <div class="modal-body text-center row">
		 <div class="col-md-5 p-1 mt-3 text-center pointer " onclick=" window.location='/signUpBusiness' "><img src="./gifs/gif7.gif"  width="80%" alt=""> <h4>I have Business</h4> </div>
		 <div class="col-md-5 p-1 mt-3 text-center pointer offset-md-2" onclick=" window.location='/signUpUser' "><img src="./gifs/gif1.gif" width="80%" alt=""> <h4>I am User</h4> </div>
	   </div>
	   <div class="modal-footer">
		 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	   </div>
	 </div>
   </div>
 </div>
   
   <div id="mySidenav" class="sidenav bg-dark text-light">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <hr><a href="/profileUser"><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp; Profile</a>
    <hr><a href="/help"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Help & Support</a>
    <hr><a href="/FPUser"><i class="fa fa-key" aria-hidden="true"></i> &nbsp;Password</a>
    <hr><a href="/deactivateUserAcc"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Deactivate </a>
  <hr>
  </div>
  
  <div id="mySidenav2" class="sidenav bg-dark text-light">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
    <hr><a href="/profileBusiness"> <i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;Profile</a>
    <hr><a href="/help"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Help & Support</a>
    <hr><a href="/FPBusiness"> <i class="fa fa-key" aria-hidden="true"></i> &nbsp;Password</a>
    <hr><a href="/deactivateBusinessAcc"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Deactivate</a>
    <hr>
  </div>
  
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    function openNav2() {
      document.getElementById("mySidenav2").style.width = "200px";
    }
    function closeNav2() {
      document.getElementById("mySidenav2").style.width = "0";
    }
  </script>  
  
    <nav class="navbar navbar-expand-lg navbar-primary bg-dark fixed-top">
      <!--  Show this only on mobile to medium screens  -->
      @if(user=="user")
      <span class="text-white mr-2 ml-2 pl-3 pr-3" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
      @elseif(user=="business")
      <span class="text-white mr-2 ml-2 pl-3 pr-3" style="font-size:30px;cursor:pointer;" onclick="openNav2()">&#9776;</span>
      @endif
  
      <a class="navbar-brand d-lg-none text-light" href="/">MeelIndia</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!--  Use flexbox utility classes to change how the child elements are justified  -->
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarToggle"
      >
        <!--   Show this only lg screens and up   -->
        <a class="navbar-brand d-none d-lg-block text-light" style="font-size:1.5rem;" href="/"> MeelIndia   </a>
  
        <ul class="navbar-nav">
          <li class="nav-item active pr-3">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item pr-3">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item pr-3">
            <a class="nav-link" href="/about">About</a>
          </li>
          
          <li class="nav-item pr-3">
            <a class="nav-link" href="/services">
              Services 
            </a>
          </li>
          
          <li class="nav-item pr-3">
            <a class="nav-link" href="/businessData">
              Business </a>
          </li>
            
          @if(!user)
  
          <li class="nav-item pr-3" data-toggle="modal" data-target="#signUpModal">
            <a class="nav-link" href="#">
               Sign Up</a>
          </li>
  
          <li class="nav-item pr-3" data-toggle="modal" data-target="#signInModal">
            <a class="nav-link" href="#">
               Sign In</a>
          </li>
  
          @elseif(user == "user")
         
          <li class="nav-item pr-3">
            <a class="nav-link" href="/profileUser">
              {{ userData.email }} </a>
          </li>
           
          @elseif(user == "business")
  
          <li class="nav-item pr-3">
            <a class="nav-link" href="/profileBusiness">
              {{ userData.email }}
            </a>
          </li>
          
          @endif
  
          @if(user != "")
          
          <li class="nav-item pr-3">
            <a class="nav-link" href="/logout">
              Sign out
            </a>
          </li>
  
          @endif
        </ul>
      </div>
    </nav>

	<!-- Header Ends -->

	<section class="hero" id="hero">
		<div class="container">
			<h2 class="sub-headline">
				Don't Worry! You're at <span> Right</span> Place
			</h2>
			<div class="headline-description">
        	<form>
			  		<BUTTON id="locationbox">
			  		<i class="fa fa-location-arrow" aria-hidden="true"></i> Aurangabad
			  		</button>
					<input type="text"  name="" placeholder="Search Among 178,396 Businesses" />
			  		<input type="submit" value="SEARCH" />
			  	</form>
			  	
				<div class="single-animation">
					<h5>Search for <span>Verified Businesses</span> Near You!</h5>
					
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Ends -->

	<section class="discover-our-menu">
		<div class="container">
			<div class="restaurant-info">
        <h4 class="sub-headline" style="color:#000;margin-bottom:7rem;font-size:3.4rem;">Popular <span>Categories!</span></h4>
				<div class="image-group animate-left">
					<button><div class="cat1"></div></button>
          <button><div class="cat2"></div></button>
          <button><div class="cat3"></div></button>
          <button><div class="cat4"></div></button>
          <button><div class="cat5"></div></button>
          <button><div class="cat6"></div></button>
				</div>
			</div>
		</div>
	</section>

<!-- Discover our menu ends -->

	<section class="culinary-delight">
		
	</section>
	<!-- culinary delight ends -->

	<footer>
		<div class="container">
			<div class="back-to-top">
				<a href="#hero"><i class="fas fa-chevron-up"></i></a>
			</div>
			<div class="footer-content">
				<div class="footer-content-about animate-bottom">
					<h4>About Us</h4>
					<p>
						Meel India is part of Preneurs Group. You can make digital invitation card or digital greeting card on this meel india website. You can make any type of E-Card on this page.
          </p>
          <h4 style="margin-top:4.4rem;">Address</h4>
					<p>
						Serve no 07 , plot no 27, T. V. Center , Aurangabad. 431001
					</p>
				</div>
				<div class="footer-content-divider animate-bottom">
					<div class="social-media">
						<h4>Follow Along</h4>
						<ul class="social-icons">
							<li>
								<a href="#"><i class="fab fa-twitter"></i></a>
							</li>
														<li>
								<a href="#"><i class="fab fa-facebook-square"></i></a>
							</li>
														<li>
								<a href="#"><i class="fab fa-pinterest"></i></a>
							</li>
														<li>
								<a href="#"><i class="fab fa-linkedin-in"></i></a>
							</li>
							<li>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</li>
						</ul>
					</div>
					<div class="newsletter-container">
						<h4>Newsletter</h4>
						<form action="" class="newsletter-form">
							<input type="text" class="newsletter-input" placeholder="Your Email Here">
							<button class="newsletter-btn" type="submit">
								<i class="fas fa-envelope">
									
								</i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>
<script>
  //Select element function
const selectElement = function(element) {
	return document.querySelector(element);
};



//Scroll REveal

window.sr = ScrollReveal();

sr.reveal('.animate-left',{
	origin: 'left',
	duration:1000,
	distance:'25rem',
	delay:300
});

sr.reveal('.animate-right',{
	origin: 'right',
	duration: 1000,
	distance: '25rem',
	delay:600
});

sr.reveal('.animate-top',{
	origin: 'top',
	duration: 1000,
	distance: '25rem',
	delay:600
});

sr.reveal('.animate-bottom',{
	origin: 'bottom',
	duration: 1000,
	distance: '25rem',
	delay:600
});
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
