<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title> MeelIndia Invitation : {{ invitations[0].title   }} : {{ invitations[0].subtitle   }} </title>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./dist/html2canvas.js"></script>
    <script>
        function doCapture(){
            html2canvas(document.getElementById("inviteBody")).then(function (canvas){
                console.log(canvas.toDataURL("image/jpeg",0.9));
                image = canvas.toDataURL("image/jpeg",0.9);
                var link = document.createElement('a');
                link.download = "invitation.png";
                link.href = image;
                link.click();
            });
        }
    </script>
    <style>
        
    @import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Righteous&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');

        body{
            background:#E5E5E5;
            overflow-x: hidden;
        }
        input{
            font-family: 'play', cursive;
        }
        .invite{
            min-height: 550px;
            width: 350px;
            margin:auto;
            background: cover;
            font-family: 'Caveat', cursive;
        }   
        .Caveat{
            font-family: 'Caveat', cursive;
        }
        #bgInvite{
            width: 350px;
            padding: 0;
            margin-top: 0;
        }
        .dataInvite{
            width: 100%;
        }
        .inputInvite{
            width: 350px;
        }
        .shadowme{
            box-shadow: 2px 2px 10px ;
        }
        
.socialbtn
{
    border: none;
    background: transparent;
    font-size: 2em;
    margin: 15px;
    cursor: pointer;
    transition: 0.2s;
    
}

.socialbtn:hover{
    color: #37A079;
}
    
.socialrow
{
    text-align: center;
}

</style>
</head>
<body>
    <img src="images/icon.jpeg" height="100px" alt="">
<div class="containetr">
    <div class="row">
        <div class="col-12 text-center">
            <input type="button" value="MeelIndia" onclick="window.location='/'" class="btn btn-primary m-2">
            <input type="button" value="Profile" onclick="window.location='/profileUser'"class="btn btn-primary m-2">
        </div>
    </div>
    <div class="col-md-6 offset-md-3 pb-5">
        <div class="row">
            @each(dt in invitations)
            <div class="col-md-12 mt-5">
                <div class="col-md-8 offset-md-2 mb-2 text-center">
                        <div class="d-flex justify-content-center">
                            <input type="button" class=" d-inline pt-2 pb-2 mt-2 mb-2 btn btn-primary" value="Locate"  onclick="window.location='https://www.google.com/maps/search/?api=1&query={{dt.lat}},{{dt.lng}}' ">
                            <input type="text" id="title" name="title" class="form-control ml-1 ytedit d-inline inputInvite text-center" value="https://meelindia.com/invitation?id={{dt._id}}" placeholder=""> 
                        </div>
                        <div class="d-flex justify-content-center">
                                <a class="socialbtn d-flex row" href="whatsapp://send?text=https://meelindia.com/invitation?id={{dt._id}}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> 
                                <a class="socialbtn d-flex row" href="https://www.facebook.com/sharer/sharer.php?u=https://meelindia.com/invitation?id={{dt._id}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                                <!-- <a class="socialbtn d-flex row" href="https://www.instagram.com/sharer.php?u=https://meelindia.com/invitation?id={{dt._id}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>  -->
                                <a class="socialbtn d-flex row text-primary" onclick='myFunction("{{ dt._id }}");'> <i class="fa fa-copy" aria-hidden="true"></i></a>
                                <a class="socialbtn d-flex row text-primary" onclick="doCapture();" > <i class="fa fa-download" aria-hidden="true"></i></a>
                              
                        </div>
                </div> 
                <div class="invite bg-light shadowme" id="inviteBody">
                    <img src="{{dt.bg}}" id="bgInvite" alt="">
                    <div class="dataInvite">
                        <h5 class="text-center" id="head">Celebrating</h5>
                        <h4 class="col-12 Caveat inputInvite text-center" style="font-family:{{ dt.nameFont}}"> {{ dt.title }}</h4>
                        <h5 class="col-12  Caveat inputInvite text-center" style="font-family:{{ dt.subFont}}">{{ dt.subtitle }}</h5>
                        <p class="col-12 Caveat inputInvite text-center" style="font-family:{{ dt.bodyFont}}">{{ dt.content}} </p>
                        <h4 class="col-12 inputInvite text-center">{{ dt.dateTime}} </h4>
                    </div>
                </div> 
                
        </div>
             
            @endeach
            <input type="button" value="Create Your Own Invitation / Greeting" class="btn btn-danger mt-4 mb-5 btn-block" onclick="window.location='SignUpUser'">
            <br> <br>
            

        </div>
    </div>
</div>

<script>
 //   addEventListener('load', async ()=>{
 //       let sw = await navigator.serviceWorker.register('./sw.js');
 //       console.log(sw);
 //   })
 //   async function suscribe() {
 //       let sw = await navigator.serviceWorker.ready;
 //       let push = await sw.pushManager.subscribe({
 //           userVisibleOnly:true,
 //           applicationServerKey: "Todo!!"
 //       })
 //       console.log(JSON.stringify(push))
 //   }
    function myFunction(str) {
            var copyText = 'https://meelindia.com/invitation?id='+str;
            navigator.clipboard.writeText(copyText);
            alert("Copied the text: " + copyText);
        }
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        </script>

</body>
</html>