<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MeelIndia: Invited to The weeding of | ISHWAR & VAISHNAVI | 21st January 2021 | Adarsh Mangal Karyalay Sillod Rod, Pishor.</title>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./dist/html2canvas.js"></script>
    <script>
        function doCapture(){
            html2canvas(document.getElementById("inviteBody")).then(function (canvas){
                console.log(canvas.toDataURL("image/jpeg",0.9));
                image = canvas.toDataURL("image/jpeg",0.9);
                var link = document.createElement('a');
                link.download = "invitation.png";
                link.href = image;
                link.click();
            });
        }
    </script>

  <style>
      body{
          margin:0;
          padding:0;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-shadow: 0 2px 4px black;
      }
      img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
      }
      h1{
        font-family: 'Courgette', cursive;

      }
      .card{
        background: cover;
        background-position:center; 
      }
      .data{
            margin-top: 22vh;
      }
      p{
          font-size: .8em;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
      }
   
           
.socialbtn
{
    border: none;
    background: transparent;
    font-size: 2em;
    margin: 15px;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0 0 0 white;
}

.socialbtn:hover{
    color: #37A079;
}
    
.socialrow
{
    text-align: center;
}

@media (max-width: 768px) {
    body{
        text-shadow: 0 1px 5px rgba(0, 0, 0, .6); 
    }
    .data{
            margin-top: 16vh;
      }
      h1{
          font-size: 1.7em;
      }
      .h5{
          font-size:1em; 
      }
      .btn-sm{
          font-size: .7em;
      }
}
  </style>
</head>
<body>

    
    <div class="container-fluid">
        <div class="pt-2">
            <div class="col-md-4 offset-md-4 card" id="inviteBody">
                <img src="./premium/weeding.png" alt="">
                <div class="col-md-12 data">
                    <p class="text-white text-center col-10 offset-1">YOU ARE CORDIALLY INVITED <br> TO THE WEEDING OF</h5>
                    <h1 class="text-center text-white"> <i> Ishwar </i> </h1>
                    <h4 class="text-center text-white"> &</h4>
                    <h1 class="text-center text-white"> <i> Vaishnavi </i> </h1>
                    <p class="text-white text-center col-10 offset-1 mb-2">A happy marriage is a long conversation which always seems too short!</p>
                    <p class="text-white text-center col-10 offset-1 h5"> <b> 21st January 2021 <br> START AT 12:35 PM </b> </p>
                    <p class="text-white text-center col-10 offset-1 ">  Address : Adarsh Mangal Karyalay <br> Sillod Rod, Pishor. <br>  <input type="button" class="btn btn-outline-light mt-3 btn-sm" onclick="window.location='https://maps.app.goo.gl/CkRizkk8qoLygqbT6' " value="Open Location on Map"> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="col-md-8 offset-md-2 mb-2 text-center">
            
            <div class="d-flex justify-content-center">
                    <a class="socialbtn d-flex row text-dark" href="whatsapp://send?text=The%20generated%20link%20is%20digital%20invitation%20card%20develop%20by%20MeelIndia%20%20https://meelindia.com/weeding"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> 
                    {{--  <a class="socialbtn d-flex row" href="https://www.facebook.com/sharer/sharer.php?u=https://meelindia.com/invitation?id={{dt._id}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>   --}}
                    <a class="socialbtn d-flex row text-dark" onclick='myFunction("meelindia.com/weeding");'> <i class="fa fa-copy" aria-hidden="true"></i></a>
                    <a class="socialbtn d-flex row text-dark" onclick="doCapture();" > <i class="fa fa-download" aria-hidden="true"></i></a>
                  
                    <input type="button" class=" d-inline pt-2 pb-2 mt-2 mb-2 btn  btn-primary" value="Locate"  onclick="window.location='https://maps.app.goo.gl/CkRizkk8qoLygqbT6' ">
            </div>
            <div class="d-flex justify-content-center">
            </div>
            <input type="button" value="Create Your Own Invitation / Greeting" class="btn btn-danger mt-4 mb-5 btn-block" onclick="window.location='https://meelindia.com/SignUpUser'">

    </div>
    </div>
<script>
        function myFunction(str) {
            var copyText = str;
            navigator.clipboard.writeText(copyText);
            alert("Copied the text: " + copyText);
        }
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
</body>
</html>