@media only screen and (max-width: 768px) {
  .hi-slide-head {
    overflow-x: hidden;
  }
  .hi-slide {
    /* visibility: hidden; */
    overflow: hidden;
    position: relative;
    /* height: 500px; */
    min-height: 90vh;
    width: 200%;
    left: -50%;
    margin: 0 auto;
    margin-bottom: 0;
  }

  header .row .col-md-5 img {
    width: 200px;
    height: 400px;
  }

  .hi-slide > h1 {
    margin-top: 20px;
    /* font-family: var(--Lobster); */
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  header .row .col-md-7 {
    padding: 30vmin 1vmin;
    padding-bottom: 3vmin;
  }
  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }

  .purchase > h2 {
    font-size: 1em;
    /* font-family: var(--Lobster); */
  }
  #two .inner article .content h1 {
    font-size: 2em;
  }
  #two .inner article .content h3 {
    font-size: 2em;
  }
  #two .inner article .content p {
    font-size: 1em;
  }
  #two .inner article .content input {
    font-size: 14px;
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}
