@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.container {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 400px;
  height: 600px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.container .card .content {
  padding: 30px;
  text-align: center;
}

.h2invitation {
  padding: 10px;
  margin: 20px;
  width: 250px;
}

h2 {
  font-size: 11px;
}

.pinvitation {
  padding: 10px;
  margin: 20px;
  width: 250px;
}

.submitinvitation {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.invitationheading {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 2.5rem;
  color: #c59d5f;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 2px;
}

.invitationname {
  margin-top: 20%;
  font-family: "Century Gothic";
  font-size: 1rem;
  text-transform: uppercase;
  width: 250px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

#display_message {
  margin-top: 20%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: 250px;
  justify-content: center;
  text-align: center;
  font-weight: 900;
}

.sharebutton {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #f0f0f0;
  border-radius: 50px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 20%;
}

#sharecard {
  background: center no-repeat;
}
