<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MeelIndia</title>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
      
    html{
      scroll-behavior: smooth;
    }      
    body {
      margin: 0;
      padding: 0;      
      background:#E5E5E5;

      color: black;
      font-family: 'Century Gothic';
      padding-top: 70px;
      padding-bottom: 50px;
    }
    .modal{
      font-family: 'Play';
    }
    nav {
        font-size: 1.0em;
        font-family: 'Century Gothic', sans-serif;
      font-family: 'Play';

      }
      
      nav a{
        text-decoration-color: none;
        cursor: pointer;
        color: black;
      }
  
      nav a:hover{
        color: #BEBEBE;
      }
  
    .shadowme{
      border-radius: 5px;
      box-shadow: 1px 2px 5px black;
      cursor: pointer;
    }
    .shadowme-text{
      text-shadow: 1px 1px 7px rgba(0,0,0,.5);
    }
    .pointer{
      cursor: pointer;
    }
    .img-circle{
      border-radius: 50%;
    }
    .products{
      border-radius: 5px;
      box-shadow: 1px 2px 5px black;

    }
    .product{
      border-radius: 5px;
      box-shadow: 1px 2px 5px black;
      border-left: 10px solid snow;
      transition: all .5s ease;
      cursor: pointer;
    }
    .product:hover{
      border-radius: 5px;
      box-shadow: 1px 2px 5px black;
      border-left: 10px solid black;
    }
    .product .details{
        color: grey;      
    }
    .addProduct{
      border-radius: 5px;
      box-shadow: 1px 2px 5px black;
      transition: all .5s ease;
      cursor: pointer;
    }
    .addProduct:hover{
      border-radius: 5px;
      box-shadow: 1px 2px 5px black;
      border-left: 10px solid dodgerblue;
      border-right: 10px solid dodgerblue;
      
    }
    /*Animate btn */
    .abtn{
        border-radius:10px;
        font-family: 'Play', sans-serif;
 
      }
      .abtn:hover{
        color: white;
        background: black;
        -webkit-transition: all .5s;
        border-radius: 50px; /* For Safari 3.0 to 6.0 */
        
      }

      .ytedit{
        background:none; border:none; 
        padding:5px;
        border-radius: 5px;
      }
      .ytedit2{
        background:none; 
        border:none; 
        padding:5px;
        border-radius: 5px;
        text-shadow: 0 0 0;
        color: #E5E5E5;
      }

      .ytedit:hover{
        background: white;
        
      }

      .bgsocial{
        position: absolute;
        top: 50%;
        left: 50%;
        padding:10%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        
        opacity: .3;
        height: 90%;
        }
    .sidenav {
    height: 100%;
    width: 0;
    font-size: 1em;
    position: fixed;
    z-index: 9;
    top: 7%;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: white;
    font-family: 'Play';
  }

  .sidenav a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: black;

  }

  .sidenav a:hover {
    color: #f1f1f1;
    padding-left: 32px;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  h2 {
    font-family: Arial, Verdana;
    font-weight: 600;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
    }
    .accordion-section .panel-default > .panel-heading {
        border: 0;
        background: #091f2f;
        padding: 0;
    }
    .accordion-section .panel-default .panel-title a {
        display: block;
        font-style: italic;
        font-size: 1.2rem;
    }
    .accordion-section .panel-default .panel-title a:after {
        font-family: 'FontAwesome';
        font-style: normal;
        font-size: 2rem;
        content: "\f106";
        color: white;
        float: right;
        margin-top: -12px;
    }
    .accordion-section .panel-default .panel-title a.collapsed:after {
        content: "\f107";
    }
    .accordion-section .panel-default .panel-body {
        font-size: 1rem;
    }
    .classinitial{
      background: none;
      
    }
    .classfinal{
      background: #fd5195;
      color: white;
    }
    .classfinal a{
      color: white;
    }
    .greetingBlock{
      position:absolute; list-style:none; background:snow; padding:10px; display: none;
    }
    .greetingBlock a{
        color: black;
    }
    .dropdown1:hover .greetingBlock{ display: inline-block; }
    .inviteBlock{
      position:absolute;list-style:none; background:snow; padding:10px;display: none;
    }
    .inviteBlock a{
        color: black;
    }
    .dropdown1:hover .inviteBlock{ display: inline-block; }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

      @media (max-width: 768px) {
        nav{
          text-align: right;
        }
              .navbar-brand.abs {
                position: absolute;
                width: 100%;
                left: 0;
                text-align: center;
              }
            
            .navbar-toggler-icon{
                color: snow;
                background: black;
                display: none;
                border-radius: 50%;
            }
            .appBarExtra{

            }

      }

  @media Screen and (min-width:900px) {
	section{
		padding: 7.9rem;
	}

	.menu-toggle{
		display: none;
	}

	.nav{
		justify-content: space-between;
	}

	.nav-list {
		position: fixed;
		width: 80%;
		height: 100vh;
		background-color: transparent;
		justify-content: space-around;
		flex-direction: row;
    transform: translateX(-100%);
  	transition: transform 0.5s; 
	}

	.nav-item {
		margin: 0 1.2rem;
		border: none;
	}

	.nav-item:last-child {
		margin-right: 0;
	}

	.nav-link {
		font-size: 0.8rem;
	}

	.active {
		position: relative;
	}

	.active::before {
		content: '';
		position: absolute;
		width: 85%;
		height: 2px;
		background-color: #fff;
		bottom: -4px;
		left:0;
	}
      }

    
</style>
</head>

<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <hr><a href="/profileUserData"><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp; Profile</a>
  <ul class="navbar-nav ml-4">
    <li class="nav-item pr-3">
      <a class="nav-link" href="/"> <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Home</a>
    </li>
    <li class="nav-item pr-3">
      <a class="nav-link" href="/profileUser"> <i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp; Saved</a>
    </li>
    <li class="nav-item dropdown1">
      {{--  <a class="nav-link" href="/invitationCreate">Invitation</a>  --}}
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-certificate" aria-hidden="true"></i> &nbsp; Invitation
      </a>
      <ul class="inviteBlock " >
        <li><a class="dropdown-item" href="./invitationCreate?type=birthday">Birthday</a></li>
        <li><a class="dropdown-item" href="./invitationCreate?type=engagement">Engagement</a></li>
        <li><a class="dropdown-item" href="./invitationCreate?type=wedding">Wedding</a></li>
        <li><a class="dropdown-item" href="./invitationCreate?type=anniversary">Anniversary</a></li>
        <li><a class="dropdown-item" href="./invitationCreate?type=innogration">Inaugration</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown1">
      {{--  <a class="nav-link" href="/invitationCreate">Invitation</a>  --}}
      <a class="nav-link dropdown-toggle greetingB" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Greeting
      </a>
      <ul class="greetingBlock">
        <li><a class="dropdown-item" href="./greetingCreate?type=birthday">Birthday</a></li>
        <li><a class="dropdown-item" href="./greetingCreate?type=engagement">Engagement</a></li>
        <li><a class="dropdown-item" href="./greetingCreate?type=wedding">Wedding</a></li>
        <li><a class="dropdown-item" href="./greetingCreate?type=anniversary">Anniversary</a></li>
        <li><a class="dropdown-item" href="./greetingCreate?type=innogration">Inaugration</a></li>
      </ul>
    </li>
    <li class="nav-item pr-3">
      <a class="nav-link" href="/contact">  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Contact</a>
    </li>
    <li class="nav-item pr-3">
      <a class="nav-link"  onclick="alert('sbdhakne309@gmail.com')" >  <i class="fa fa-laptop" aria-hidden="true"></i> &nbsp; Developer</a>
    </li>
    <li class="nav-item pr-3">
      <a class="nav-link" href="/about">  <i class="fa fa-info" aria-hidden="true"></i> &nbsp; About</a>
    </li>
      
    @if(!user)


    <li class="nav-item pr-3">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fa fa-user" aria-hidden="true"></i> &nbsp;  Sign Up</a>
    </li>

    <li class="nav-item pr-3">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter2">
        <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;  Sign In</a>
    </li>

    @endif

    @if(user != "")
    
    <li class="nav-item pr-3">
      <a class="nav-link" href="/logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;  Sign out
      </a>
    </li>

    @endif
    <li class="nav-item"> <a class="nav-link"  href="/help"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Help & Support</a> </li>
    <li class="nav-item"> <a class="nav-link"  href="/FPUser"><i class="fa fa-key" aria-hidden="true"></i> &nbsp;Password</a> </li>
    <li class="nav-item"> <a class="nav-link"  href="/deactivateUserAcc"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Deactivate </a> </li>
  <hr>
  </ul> 
</div>

<div id="mySidenav3" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
  <hr>
  <ul class="navbar-nav ml-4">
        <li class="nav-item pr-3">
          <a class="nav-link" href="/"> <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Home</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link" href="/profileUser"> <i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp; Saved</a>
        </li>
        <li class="nav-item dropdown1">
          {{--  <a class="nav-link" href="/invitationCreate">Invitation</a>  --}}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-certificate" aria-hidden="true"></i> &nbsp; Invitation
          </a>
          <ul class="inviteBlock " >
            <li><a class="dropdown-item" href="./invitationCreate?type=birthday">Birthday</a></li>
            <li><a class="dropdown-item" href="./invitationCreate?type=engagement">Engagement</a></li>
            <li><a class="dropdown-item" href="./invitationCreate?type=wedding">Wedding</a></li>
            <li><a class="dropdown-item" href="./invitationCreate?type=anniversary">Anniversary</a></li>
            <li><a class="dropdown-item" href="./invitationCreate?type=innogration">Inaugration</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown1">
          {{--  <a class="nav-link" href="/invitationCreate">Invitation</a>  --}}
          <a class="nav-link dropdown-toggle greetingB" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i> &nbsp; Greeting
          </a>
          <ul class="greetingBlock">
            <li><a class="dropdown-item" href="./greetingCreate?type=birthday">Birthday</a></li>
            <li><a class="dropdown-item" href="./greetingCreate?type=engagement">Engagement</a></li>
            <li><a class="dropdown-item" href="./greetingCreate?type=wedding">Wedding</a></li>
            <li><a class="dropdown-item" href="./greetingCreate?type=anniversary">Anniversary</a></li>
            <li><a class="dropdown-item" href="./greetingCreate?type=innogration">Inaugration</a></li>
          </ul>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link" href="/contact">  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Contact</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link" href="/contact">  <i class="fa fa-laptop" aria-hidden="true"></i> &nbsp; Developer</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link" href="/about">  <i class="fa fa-info" aria-hidden="true"></i> &nbsp; About</a>
        </li>
          
        @if(!user)


        <li class="nav-item pr-3">
          <a class="nav-link" href="#"  data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;  Sign Up</a>
        </li>

        <li class="nav-item pr-3">
          <a class="nav-link"  href="#" data-toggle="modal" data-target="#exampleModalCenter2">
            <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;  Sign In</a>
        </li>

        @elseif(user == "user")
      
        <li class="nav-item pr-3">
          <a class="nav-link" href="/profileUser">
            {{ userData.email }} </a>
        </li>
        
        @elseif(user == "business")

        <li class="nav-item pr-3">
          <a class="nav-link" href="/profileBusiness">
            {{ userData.email }}
          </a>
        </li>
        
        @endif

        @if(user != "")
        
        <li class="nav-item pr-3">
          <a class="nav-link" href="/logout">
            Sign out
          </a>
        </li>

        @endif
            
      <li class="nav-item "> <a href="/help" class="nav-link"> <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Help & Support</a> </li>
      <li class="nav-item"> <a href="/FPUser" class="nav-link"> <i class="fa fa-key" aria-hidden="true"></i> &nbsp;Password</a> </li>
  </ul>
  <hr>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "200px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  } 
  function openNav3() {
    document.getElementById("mySidenav3").style.width = "200px";
  }
  function closeNav3() {
    document.getElementById("mySidenav3").style.width = "0";
  }
</script>  

  <nav class="navbar navbar-expand-lg navbar-primary fixed-top classinitial">
    <!--  Show this only on mobile to medium screens  -->
    @if(user=="user")
    <span class=" mr-2 ml-2 pl-3" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
    <img src="./icons/meelindia.svg" height="70px" alt="">

    @else
    <span class=" mr-2 ml-2 pl-3" style="font-size:30px;cursor:pointer;" onclick="openNav3()">&#9776;</span>
    <img src="./icons/meelindia.svg" height="70px" alt="">

    @endif
    {{--  <img src="./icons/meelindia.svg" height="70px" alt="">  --}}
    <a class="navbar-brand d-lg-none" href="/"> MeelIndia</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--  Use flexbox utility classes to change how the child elements are justified  -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarToggle"
    >
      <!--   Show this only lg screens and up   -->
      <a class="navbar-brand d-none d-lg-block" style="font-size:1rem;" href="/"> MeelIndia   </a>

      <ul class="navbar-nav">
            <li class="nav-item pr-3">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown1">
              {{--  <a class="nav-link" href="/invitationCreate">Invitation</a>  --}}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Invitation
              </a>
              <ul class="inviteBlock " >
                <li><a class="dropdown-item" href="./invitationCreate?type=birthday">Birthday</a></li>
                <li><a class="dropdown-item" href="./invitationCreate?type=engagement">Engagement</a></li>
                <li><a class="dropdown-item" href="./invitationCreate?type=wedding">Wedding</a></li>
                <li><a class="dropdown-item" href="./invitationCreate?type=anniversary">Anniversary</a></li>
                <li><a class="dropdown-item" href="./invitationCreate?type=innogration">Inaugration</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown1">
              {{--  <a class="nav-link" href="/invitationCreate">Invitation</a>  --}}
              <a class="nav-link dropdown-toggle greetingB" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Greeting
              </a>
              <ul class="greetingBlock">
                <li><a class="dropdown-item" href="./greetingCreate?type=birthday">Birthday</a></li>
                <li><a class="dropdown-item" href="./greetingCreate?type=engagement">Engagement</a></li>
                <li><a class="dropdown-item" href="./greetingCreate?type=wedding">Wedding</a></li>
                <li><a class="dropdown-item" href="./greetingCreate?type=anniversary">Anniversary</a></li>
                <li><a class="dropdown-item" href="./greetingCreate?type=innogration">Inaugration</a></li>
              </ul>
            </li>
            <li class="nav-item pr-3">
              <a class="nav-link" href="/about">About</a>
            </li>
              
            @if(!user)


            <li class="nav-item pr-3">
              <a class="nav-link" href="#"  data-toggle="modal" data-target="#exampleModalCenter">
                Sign Up</a>
            </li>

            <li class="nav-item pr-3">
              <a class="nav-link"  href="#" data-toggle="modal" data-target="#exampleModalCenter2">
                Sign In</a>
            </li>

            @elseif(user == "user")
          
            <li class="nav-item pr-3">
              <a class="nav-link" href="/profileUser">
                {{ userData.email }} </a>
            </li>
            
            @elseif(user == "business")

            <li class="nav-item pr-3">
              <a class="nav-link" href="/profileBusiness">
                {{ userData.email }}
              </a>
            </li>
            
            @endif

            @if(user != "")
            
            <li class="nav-item pr-3">
              <a class="nav-link" href="/logout">
                Sign out
              </a>
            </li>

            @endif
      </ul>
    </div>
  </nav>
  

@!section('content')

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
    </script> 

<script> 
  $(function () { 
      var header = $(".classinitial"); 
      $(window).scroll(function () { 
          var scroll = $(window).scrollTop(); 

          if (scroll >= 100) { 
              header.removeClass('classinitial') 
                      .addClass("classfinal"); 
          } else { 
              header.removeClass("classfinal") 
                      .addClass('classinitial'); 
          } 
      }); 
  }); 
</script> 
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        <div class="modal-header  text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h1 class="modal-title form-header text-center col-12" id="exampleModalLongTitle">Sign Up</h1>
          <hr>
          <form method="POST" id="signUpForm" action="/signUpUser">
            <div class="row">
              <div class="col-md-6">
                <label for="fname">First Name</label>
                <input type="text" name="fname" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="Enter First Name" required>
              </div>
              <div class="col-md-6">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" class="form-control" id="lname" aria-describedby="emailHelp" placeholder="Enter Last Name" required> 
              </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
              <label for="signupemail">Email address</label>
              <input type="email" class="form-control" name="email" id="signupemail" aria-describedby="emailHelp" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="signuppassword">Password</label>
              <input type="password" class="form-control" name="password" id="signuppassword" placeholder="Password" required>
            </div>
            
            <div class="col-md-12 mt-2">
              <a href="/SignInUser">
                {{--  <h5>Already have an account, Login Here</h5>  --}}
              </a>
            </div>
            <div class="colmd-12">
             <input type="checkbox" name="chbox" id="chbox" required> 
             Check <a href="https://privacyterms.io/view/2iVKpB7A-GM6p5fDY-bCE91e/" target="__blank">Disclaimer </a> 
             
            </div>
            <button type="button" onclick="signUpForm()" class="updatebtn btn btn-outline-primary">Sign Up</button>
          </form>
            <div class="note text-center h3 mt-4">
                <h5 id="note" class=" mt-2 mb-2 pt-2 pb-2 bg-warning">   </h5>
              <input type="button" value="Open Gmail" class="btn btn-danger col-12 mt-2" onclick="window.location='https://mail.google.com/mail/' ">
            </div>
        </div>
        <div class="modal-footer">
          <script>
            function signUpForm() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var data = this.responseText;
                        console.log(data);
                        if(data == "email"){ document.getElementById("note").innerHTML = "Email Already Exist!" ;  }
                        else if(data == "active"){  document.getElementById("signUpForm").submit() }
                        else{ document.getElementById("note").innerHTML = "Some Unknown Error Occured! Try after Some Time.";   }
                  }
                };
                xhttp.open("GET", "signUpUser2?email="+document.getElementById("signupemail").value , true);
                xhttp.send();
            }
            
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter2" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        <div class="modal-header  text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h1 class="modal-title form-header text-center col-12" id="exampleModalLongTitle">Sign In</h1>
          <form method="POST" id="signInForm" action="/signInUserData">
            <div class="row">
            <div class="form-group col-md-12 ">
              <hr>
              <label for="signinemail">Email address</label>
              <input type="email" class="form-control col-12" name="email" id="signinemail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group col-md-12">
              <label for="signinpassword">Password</label>
              <input type="password" class="form-control col-12" name="password" id="signinpassword" placeholder="Password">
            </div>
            <div class="col-md-12 mt-2 ">
              <a href="/SignUpUser">
                <h5 class="text-dark">Dont't have an account, Create new account...</h5>
              </a>
            </div>
          
            <div class="col-md-12">
            <button type="button" onclick="signInForm()"  class="updatebtn btn btn-outline-success">Sign In</button>
          </div>
          <div class="col-md-12 mt-2">
            <a href="/FPUser">
              <h5 class="text-dark">Forget Password Or Activate Account...</h5>
            </a>
          </div>
      </form>
          <div class="note text-center h3 mt-4 col-12">
            <h5 id="note2" class=" mt-2 mb-2 pt-2 pb-2 bg-warning">   </h5>
          <input type="button" value="Open Gmail" class="btn btn-danger col-12 mt-2" onclick="window.location='https://mail.google.com/mail/' ">
        </div>
        </div>
        <div class="modal-footer">
          <script>
            function signInForm() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var data = this.responseText;
                        console.log(data);
                        if(data == "notPesent"){ document.getElementById("note2").innerHTML = "You dont't have an account with this email!" ;  }
                        else if(data == "inactive"){ document.getElementById("note2").innerHTML = "Activate Your Account! Check Your Email" ;  }
                        else if(data == "active"){  document.getElementById("signInForm").submit() }
                        else{ document.getElementById("note2").innerHTML = "Some Unknown Error Occured! Try after Some Time.";   }
                  }
                };
                xhttp.open("GET", "signUpUser3?email="+document.getElementById("signinemail").value , true);
                xhttp.send();
            }
            
          </script>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
